<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>


<div [hidden]="hide">
    <div [innerText]="numberOfRooms"></div>
</div>

<button type="button" class="btn btn-primary">
    Single Button
  </button>

{{rooms.availableRooms ?? "No Rooms"}}

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button type="button" class="btn btn-warning" (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="hide">
    <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
